<p id="notice"><%= notice %></p>
 <div class="container">
  <p>
    <strong>User:</strong>
    <%= @attendance.user.email %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= @attendance.event.title %>
    <%= link_to 'Show Event', [@event] %>
  </p>

  <p>
    <strong>Motivation:</strong>
    <%= @attendance.motivation %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @attendance.comment %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @attendance.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= @attendance.updated_at %>
  </p>


  <br/> <br/> <br/>
  <div class ="center">
  <%= link_to 'Edit', edit_event_attendance_path(@event, @attendance) %> |
  <%= link_to 'Back', event_attendances_path(@event) , :class => "btn btn-primary"%>
  </div>
</div>
