<p id="notice"><%= notice %></p><br/>

<h1 class="center">Situations</h1>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @situations.each do |situation| %>
        <tr>
          <td><%= situation.title %>&nbsp;</td>
          <td><%= link_to 'Show', situation %>&nbsp;</td>
          <td><%= link_to 'Edit', edit_situation_path(situation) %>&nbsp;</td>
          <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Situation', new_situation_path, :class => "btn btn-success" %>
</div><br /><br />
<div class="center"><%= link_to 'Back',admin_root_path , :class => "btn btn-primary"%></div>
