<!-- Grid row -->
<body>
  <br />
  <h1 class="center">GALERIE PHOTO DES IMMERSIONS</h1>
  <br />
  <div class="container">
    <!-- <div class="row">


    </div> -->
    <!-- Grid row -->

    <!-- Grid row -->
      <div class="gallery" id="gallery">

        <!-- Grid column -->
        <div class="mb-3  pics animation mdb-lightbox-ui ">
          <img class="img-fluid" src=<%= asset_path 'photo1.jpg' %> alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui ">
          <img class="img-fluid" src=<%= asset_path 'photo2.jpg' %> alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src=<%= asset_path 'photo3.jpg' %> alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src=<%= asset_path 'photo4.png' %> alt="Card image cap">
        </div>

        <!-- Grid column -->
        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src=<%= asset_path 'photo5.jpg' %> alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src=<%= asset_path 'photo6.jpg' %> alt="Card image cap">
        </div>
        <!-- Grid column -->

                <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src=<%= asset_path 'photo7.jpg' %> alt="Card image cap">
        </div>
        <!-- Grid column -->

                <!-- Grid column -->
        <div class="mb-3 pics animation mdb-lightbox-ui">
          <img class="img-fluid" src=<%= asset_path 'photo8.jpg' %> alt="Card image cap">
        </div>
        <!-- Grid column -->

      </div>
  <!-- Grid row -->
  </div>
<script src="app/assets/javascripts/gallery.js"></script>
<br/>
<div class="center">
    <a class="btn btn-primary" role="button" <%= link_to "<< BACK", :back %></a>
  </div>
    <br/>
</body>
