<div class="center">
<h1>RÉSULTATS DE LA RECHERCHE</h1>  

<div class="container center-div">
<!--section card-->
<div class="row">

<% @events.each do |event|%>
<!-- classe des cards-->
    <div class="card text-white bg-primary mb-3 ml-3 mr-3" style="max-width: 20rem;">
<!-- début de la 1ere card-->
    
    
      <div class="card-header"><%= event.title %> </div>
      <img class="card-img-top" src=<%= asset_path 'photo1.jpg' %> alt="Card image cap">    

      <div class="card-body">
      <p class="card-text"><center><%= event.description %><br> 
      <%= event.short_location %><br> 
      <a class="btn btn-secondary btn-md" href="#" role="button">Preview</a> 
      <a class="btn btn-secondary btn-md" href="#" role="button">Shop now</a>
      </center></p>

    </div>
    </div>
<% end %> 
</div>
</div>
</div>
<div class="center">
<a class="btn btn-primary" role="button" <%= link_to "<< BACK", :back %></a>
</div>
<br/>
<br/>