    <%= render "devise/shared/error_messages", resource: resource %>
<br/>
<div class="center">


  <h1>CRÉER UN COMPTE</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

  <br/>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

  <br/>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <br/>
    <div class="actions">
      <%= f.submit "S'INSCRIRE" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<br/>
    <a class="btn btn-primary" role="button" <%= link_to "<< BACK", :back %></a>

</div>
<br/>
<br/>
