<p id="notice"><%= notice %></p>

<br />
<h1 class="center">Startups</h1>

<div class="container">
  <div class="row">
    <% @startups.each do |startup| %>
      <div class=" p-3 col-lg-4 col-sm-12 ">
        <div class="card p-3 shadow">
          <ul class="none">
              <li class="center"><h3><strong><%= startup.name.upcase %></strong></h3></li>
              <li><strong>slogan: </strong> <%= startup.catch_phrase %></li>
              <li><strong>site internet: </strong> <%= startup.website_url %></li><br/>
              <li><strong>description: </strong> <%= startup.description %></li><br />
              <li><%= link_to 'Show', startup_path(startup.id) ,class: "btn btn-outline-secondary"%></li>
              <li><% if current_user && current_user.admin? %></li>

              <li>
                <%= link_to 'Edit', edit_admin_startup_path(startup) %>&nbsp;
                <%= link_to 'Destroy', startup, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
              <% end %>

          </div>
        </div>

      <% end %><br />



  <br />



  </div>
  <div class="center">
    <% if current_user && current_user.admin? %>
      <%= link_to 'New Startup', new_admin_startup_path %> |
      <%= link_to 'Back', :admin_root, :class=>"btn btn-primary" %>
    <% else %>
      <%= link_to '<< Back', :root , :class => "btn btn-primary"%>
    <% end %>
  </div>
</div>
